.nav {
  margin: 0;
  padding: 8px 0;
  box-sizing: border-box;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 19px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    margin: 0;
    padding: 0;
    color: $primary-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.33;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .5s ease;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }

  &__close-button {
    display: none;
    cursor: pointer;
  }
}

@media screen and (max-width: $tablet-width) {
  .nav {
    &__list {
      margin-left: 6px;
    }

    &__close-button {
      display: block;
      width: 40px;
      height: 40px;
      background-color: $secondary-color;
      background-image: url(../images/close-icon.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
    }
  }
}